@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--Very-dark-blue);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
  color: #fafcffff;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.usercontainer {
  background: var(--Dark-blue);
  display: flex;
  width: 23rem;
  border-radius: 1.2rem;
  flex-direction: column;
}
.profile-container img {
  max-width: 5rem;
  max-height: 5rem;
  border: 3px solid #ffff;
  border-radius: 50%;
}
.profile-container {
  display: flex;
  background: var(--Blue);
  width: 100%;
  padding: 2rem;
  border-radius: 1.2rem;
  text-wrap: nowrap;
  align-items: center;
}
.profile-container h1 {
  margin-left: 1rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  color: rgb(207, 207, 207);
}
.profile-container span {
  font-size: 1.8rem;
  color: #ffff;
}
button {
  border: none;
  background: none;
  align-items: center;

  padding: 2rem 2rem;
  color: #7576baff;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
button:hover {
  cursor: pointer;
  color: #fafcffff;
}
.containerclass {
  width: 23rem;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
}
.inner-container:hover {
  cursor: pointer;
}
.inner-container {
  margin-top: 10%;
  width: 23rem;
  background: var(--Dark-blue);
  border-radius: 1.2rem;
  padding: 2rem;
  position: relative;
}
.inner {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-wrap: nowrap;
  justify-content: space-between;
}
.inner img {
  width: 2.6;
  height: 0.65;
}
.inner img:hover {
  cursor: pointer;
}
.current-week {
  font-weight: 100;
  font-size: 2.5rem;
}
.last-week {
  font-size: 1.2rem;
  font-weight: 100;
  color: #fafcffff;
}
.words {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: none;
}
.logo {
  position: absolute;
  top: -1rem;
  right: 1rem;
}
.work-container {
  background: var(--Light-red-work);
}
.play-container {
  background: var(--Soft-blue-play);
}
.study-container {
  background: var(--Light-red-study);
}
.exer-container {
  background: var(--Lime-green-exercise);
}
.social-container {
  background: var(--Violet-social);
}
.self-container {
  background: var(--Soft-orange-self-care);
}
